# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
nba_data/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebooks
.ipynb_checkpoints

# MacOS
.DS_Store

# Docker
*.pid
*.seed
*.pid.lock

# dbt
/target/
/dbt_modules/
/dbt_packages/
profiles.yml

# Environment variables
.env
.env.*

# System files
Thumbs.db
*.json

# Ignore migrations if you want to exclude them (uncomment if needed)
# backend/src/app/migrations/
dagster_home/
