.navbar {
  background-color: var(--court);
  height: 100vh;
  width: 300px;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--line);
}

.header {
  padding: var(--mantine-spacing-md) 0;
  border-bottom: 1px solid var(--line);
  margin-bottom: var(--mantine-spacing-md);
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.footer {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  border-top: 1px solid var(--line);
}